HOST=0.0.0.0
PORT=3000
NODE_ENV=
LOG_LEVEL=info
ALLOWED_ORIGINS=

# DATABASE
DATABASE_URL=postgresql://postgres:123@127.0.0.1:5432/name

# SESSION
SESSION_SECRET=
COOKIE_NAME=sid
COOKIE_MAX_AGE=1800000

# CLOUDINARY
CLOUDINARY_URL=

# GA
GA_PROPERTY_ID=

# GOOGLE
GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT=
